{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPBU Receipt Print</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <section>Logo Ceritanya</section>

        <section>
            <hgroup>
                <h1>SRP</h1>
                <h2>SPBU Receipt Print</h2>
            </hgroup>
        </section>
    </header>

    <main class="w-full">

    </main>

    <footer class="w-full flex justify-center space-y-2">
        <p>Copyright &copy; VRyo 2023</p>
        <p>Designed by Anjay Keren Bat</p>
    </footer>
</body>
</html>