{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print SPBU Receipt</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <section>Logo Ceritanya</section>

        <section>
            <hgroup>
                <h1>PSR</h1>
                <h2>Print SPBU Receipt</h2>
            </hgroup>
        </section>
    </header>

    <main class="w-full">
        <section>
            <form action="" method="post">
                <select name="type" id="">
                    <option value="">--Pilih Jenis--</option>
                    <option value="ptl">Pertalite</option>
                    <option value="ptm">Pertamax</option>
                    <option value="ptmt">Pertamax Turbo</option>
                </select>
                
            </form>
        </section>
    </main>

    <footer class="w-full flex justify-center space-y-2">
        <p>Copyright &copy; VRyo 2023</p>
        <p>Designed by Anjay Keren Bat</p>
    </footer>
</body>
</html>